---
layout: blog
title: Scorpio Intel
tagline: Everything is changing.
keywords: scorpio intel, bootstrap, finance, intelligence, information, knowledge
canonical: https://scorpiointel.com
---
{% include JB/setup %}

<br>
<br>

{% include themes/bootstrap/section-header.html title="The Latest" %}

<div class="container-fluid py-4">
  <div class="row px-auto mx-auto" style="max-width: 1000px">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="blog-card" style="text-decoration: none;">
      <div class="col px2 activator">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ site.url }}/assets/img/{{ post.img }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.excerpt }}</p>
            
          </div>
        </div>
      </div>
      <div class="hide"></div>
    </a>
    {% endfor %}
  </div>
</div>