$primary: #2E5285; // Scorpio
$background: #393939; // neutral grey
$gray-900: #404040;
$gray-500: #979797;
$font-family-sans-serif: "Montserrat";

li.nav-item a:hover { color: $primary !important; }

.hero {
  background: $background;
  width: 100vw;
  height: 30vw;
  min-height: 300px;
  max-height: 500px;
}

.footer {
  background: $background
}

#footer-image {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.club-divider {
  background: $primary;
  height: 2px;
  width: 80px;
}

.card {
  color: #404040;
}

.hide {
  opacity: 0;
  background-color: $primary;
  min-height: 4px;
}

.activator:hover > .hide {
  opacity: 1;
}

.filter {
  background-color: $primary;
  opacity: 0;
}

.filter:hover {
  opacity: 1;
}

.card-body > p {
  color: $gray-500 !important;
}

.card-title {
  color: $gray-900 !important;
}