<div class="side-bar sticky-top">

  <br>
  <br>
  <br>
  
  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/tile.png" alt="Scorpio Intelligence">
    <div class="card-block">
      <h4 class="card-title">Scorpio Intel</h4>
      <p class="card-text">Lorem Ipsum paragraph 1.</p>
      <p class="card-text">Lorem Ipsum paragraph 1Lorem Ipsum paragraph 1Lorem Ipsum paragraph 1.</p>
      <p class="card-text">Lorem Ipsum paragraph 1Lorem Ipsum paragraph 1Lorem Ipsum paragraph 1Lorem Ipsum paragraph 2.</p>
      {% include social-block.html %}
    </div>

  </div>
  
  
  <div>
   
    
  </div>
  
</div>
              